# EAIFCH - Ethical AI Framework for Cultural Heritage
# Persistent Identifier: https://w3id.org/eaifch/
# Author: Ahmed Benseddik
# Version: 1.0
# Date: May 2026

Options +FollowSymLinks
RewriteEngine on

# 1. Redirection par défaut (la racine renvoie vers votre dépôt principal)
RewriteRule ^$ https://github.com/benseddikahmed-sudo/eaifch [R=303,L]

# 2. Redirections vers l'ontologie brute (Format Turtle pour Protégé)
RewriteRule ^ontology$ https://raw.githubusercontent.com/benseddikahmed-sudo/eaifch/principal/eaifch/eaifch.ttl [R=303,L]
RewriteRule ^ontology\.ttl$ https://raw.githubusercontent.com/benseddikahmed-sudo/eaifch/principal/eaifch/eaifch.ttl [R=303,L]

# 3. Documentation HTML complète (Générée par WIDOCO via GitHub Pages)
RewriteRule ^doc$ https://benseddikahmed-sudo.github.io/eaifch/eaifch/docs/eaifch/docs/index.html [R=303,L]
RewriteRule ^doc/$ https://benseddikahmed-sudo.github.io/eaifch/eaifch/docs/eaifch/docs/index.html [R=303,L]
RewriteRule ^doc/(.*)$ https://benseddikahmed-sudo.github.io/eaifch/eaifch/docs/eaifch/docs/$1 [R=303,L]

# 4. Exemples de requêtes SPARQL (Lien vers le dossier de scripts)
RewriteRule ^sparql/$ https://github.com/benseddikahmed-sudo/eaifch/tree/principal/sparql [R=303,L]